#import(lattice)
import(RGtk2)
import(flowCore)
import(flowViz)
import(Biobase)
import(flowStats)
#import(lattice)
#importFrom(lattice, lattice.getOption)
#importMethodsFrom(lattice, lattice.getOption)
#import(plateCore)

#Error in plot(eval(parse(text = f))) : 
#  error in evaluating the argument 'x' in selecting a method for function 'plot': Error in .densityplot.flowSet(x, data, ...) : 
#  could not find function "lattice.getOption"

exportClasses(seqFrame)
export("appspace")
export("[<-.appspace")
export("[.appspace")
export("select.channels")
export("insert.node")
export(Clover)
export(.AppEnv)
export(file2sf)
export(selected.node)